.feed {
  min-height: 950px;
  padding-bottom: 70px;
  &__block {
    padding-right: 51px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &:nth-of-type(1) {
      margin-top: 30px;
    }
  }
  &__photo {
    margin-right: 61px;
    max-width: 169px;
  }
  &__name {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: #0d0d0d;
  }
  &__count {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    color: #646464;
  }
  &__descr {
    margin-top: 19px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d;
  }
}
