.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  &_mt25 {
    margin-top: 25px;
  }
  input {
    padding: 0 20px;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}
